{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "semi": true
}
